<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Tech Blog</a>
      </h1>
      <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a class="link" href="/" id="logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    
  </div>

{{#if loggedIn}}  
<script src="/javascript/logout.js"></script>
{{/if}}
</body>
</html>

