
{{#if posts.length}}
<section>
  <h1>Dashboard - Your Posts</h1>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <div class="meta">
        <a class="comment-link" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        |
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> 
      </div>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<div class="btn-div">
<button type="submit" class="btn"><a class="btn-link" href="/dashboard/new">+ New Post</a></button>
</div>

<script src="/javascript/add-post.js"></script>