<article>
  <div class="title">
    <h2>Edit Post</h2>
  </div>

  <form class="edit-post-form">
    <div class="form-child">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
          <label for="content">Content</label>
          <input id="content" name="content" type="text" value="{{post.content}}" />
    </div>
    
    <button type="submit" class="login-btn">Save post</button>
    <button type="button" class="login-btn">Delete post</button>
  </div>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>