<form class="login-form">
  <div class="title">
    <h2>Login</h2>
  </div>

  <div class="form-child">
    <div>
      <label for="username-login">Username</label>
      <input type="text" id="username-login" />
    </div>
    
    <div>
      <label for="password-login">Password</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button class="login-btn" type="submit">Login!</button>
    </div>
  
    <a class="login-link" href="/signup">Sign up instead</a>
  </div>

</form>

<script src="/javascript/login.js"></script>