:root {
    --main-color: #D6E6D5;
    --drk-color:#260F0F;
    --tertiary: #a9b4b4;
}

* {
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    font-size: calc(15px + 0.2em);
}

main {
    flex: 1;
    padding: 2% 4%;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    color: var(--drk-color);
}

h2 {
    font-weight: normal;
    font-size: 1.7em;
    color: var(--main-color);
    margin: 0;
}

h3, p {
    color: var(--drk-color);
    margin: 0;
}

h4 {
    color: var(--main-color);
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    width: 100%;
    background-color: var(--drk-color);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* ------ links/buttons --------*/
h1 a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3em;
    color: var(--dark-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 0.5vh 2.5vh;
    -webkit-box-shadow: 7px 10px 0px 1px #A7A7A7; 
    box-shadow: 7px 10px 0px 1px #A7A7A7;
}

a, 
.secondary-link {
    text-decoration: none;
    color: var(--drk-color);
    font-size: 1em;
}

nav a, 
.primary-link {
    color: var(--main-color);
    font-weight: bold;
    transition: color .1s;
    font-size: 1.5em;
}

nav a {
    margin-right: 20px;
}

.btn-link {
    color: var(--main-color);
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

.btn {
    background-color: var(--drk-color);
    border: 0;
    padding: 0.8% 3%;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1.2em;
}

.btn:hover {
    background-color: var(--tertiary);
}

.btn-div {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 10vh;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B5B5B;
    color: var(--main-color);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 2vh 0;
    border-radius: 10px;
}

.login-btn:hover {
    background-color: var(--drk-color);
}

.login-link:hover {
    text-decoration: underline;
}

/*---------- forms ----------*/
.login-form,
.signup-form, 
.new-post-form,
.comment-form,
.comments,
.edit-post-form {
    border: 3px solid var(--drk-color);
}

.comment-form,
.comments {
    margin-top: 2vh;
}

.title {
    background-color: var(--drk-color);
    padding: 1.5vh 3vh;
    display: flex;
    justify-content: space-between;
}

.title span {
    color: var(--tertiary);
    width: fit-content;
}

.form-child {
    padding: 2%;
}

.form-child > div:not(:first-child) {
    margin-top: 3vh;
}

.form-child label, 
textarea {
    font-size: 1.5em;
    color: var(--drk-color);
    margin-bottom: 10px;
}

.form-child input,
.login-btn,
textarea {
    width: 100%;
    height: 2em;
    border: none;
    font-size: 1.5em;
    padding: 1%;
}

#content {
    height: 20vh;
    padding-bottom: 15vh;
}

.comment-container {
    padding: 1% 2%;
}

.comment-container textarea {
    margin-top: 0.5em;
    height: 2%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

/*----- post -----*/
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 3em;
}

li:last-child {
    margin-bottom: 0;
}

.post {
    line-height: 150%;
    border: 5px solid var(--drk-color);
}

.post p {
    padding: 1.5vh 3vh;
}

.meta {
    float: right;
    margin-top: 0.8em;
    font-size: 90%;
    opacity: .6;
}

.comment .meta {
    margin: 0;
}

.comment-link {
    margin-right: 10px
}

.edit-link {
    margin-left: 10px
}

.comment-link:hover,
.edit-link:hover {
    color: var(--drk-color);
    font-weight: 500;
}

form label {
    display: block;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.comment {
    padding: 1% 2%;
    border-bottom: solid 1px var(--tertiary);
}
